@model ZavršniRad.Areas.ModulAdministrator.Models.OsobljeIzmijeniVM
@{
    ViewBag.Title = "Izmijeni";
    Layout = null;
}

@*<form action="/ModulAdministrator/Osoblje/Snimi" class="form-horizontal">


    @Html.HiddenFor(model => model.Id)
    <br /><br />
    <div class="form-group">
        <label class="col-sm-2 control-label">Ime</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.Ime, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Ime)

        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Prezime</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.Prezime, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Prezime)

        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Email)
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Mobitel</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.Mobitel, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Mobitel)
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Adresa</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.Adresa, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Adresa)
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Titula</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.Titula, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Titula)
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">JMBG</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.JMBG, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.JMBG)
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">User</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.KorisnickoIme, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.KorisnickoIme)
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Lozinka</label>
        <div class="col-sm-10">
            @Html.PasswordFor(model => model.Lozinka, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Lozinka)
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-info">Snimi</button>
        </div>
    </div>
    <div>
        @Html.ValidationSummary()
    </div>

    </form>*@



@using (Ajax.BeginForm("Snimi", "Osoblje", new AjaxOptions() { UpdateTargetId = "osoblje" }))
{
    @Html.HiddenFor(model => model.Id);

    <div class="row" style="margin-left:4px">
        @if (!ViewData.ModelState.IsValid)
        {
            @Html.ValidationSummary(string.Empty, new { @class = "text-danger" });

        }

        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Dodaj medicinsko osoblje
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-10">
                            <form role="form">
                                <div class="form-group">
                                    <label>Ime</label>
                                    @Html.TextBoxFor(model => model.Ime, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Ime)  </div>

                                <div class="form-group">
                                    <label>Prezime</label>
                                    @Html.TextBoxFor(model => model.Prezime, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Prezime)
                                    </div>

                                <div class="form-group">
                                    <label>Email</label>
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Email)
                                </div>
                                <div class="form-group">
                                    <label>Mobitel</label>
                                    @Html.TextBoxFor(model => model.Mobitel, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Mobitel)
                                    </div>
                                <div class="form-group">
                                    <label>Adresa</label>
                                    @Html.TextBoxFor(model => model.Adresa, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Adresa)
                                </div>
                                <div class="form-group">
                                    <label>Titula</label>
                                    @Html.TextBoxFor(model => model.Titula, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Titula)
                                </div>
                                <div class="form-group">
                                    <label>JMBG</label>
                                    @Html.TextBoxFor(model => model.JMBG, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.JMBG)
                                </div>
                                <div class="form-group">
                                    <label>Korisničko ime</label>
                                    @Html.TextBoxFor(model => model.KorisnickoIme, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.KorisnickoIme)
                                </div>
                                <div class="form-group">
                                    <label>Lozinka</label>
                                    @Html.TextBoxFor(model => model.Lozinka, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Lozinka)
                                </div>
                                    <button type="submit" class="btn btn-info">Snimi</button>
</form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- /.col-lg-6 (nested) -->
}








    





