@using ZavršniRad.Areas.ModulStomatolog.Models
@model PregledVM
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ModulStomatolog/Views/Shared/_StomatologLayout.cshtml";
}
<div class="row" style="margin-left:20px">

  <br />

    <div style="font-size:18px;color:royalblue;">
        <p>
            Datum pregleda:@Html.TextBoxFor(model => model.DatumPregleda, "{0:dd-MM-yyyy}", new { @class = "form-control", @readonly = "readonly" })
        </p>
        <p>
            Vrijeme pregleda:@Html.TextBoxFor(model => model.VrijemePregleda, "{0:HH:mm}", new { @class = "form-control", @readonly = "readonly" })
        </p>
    </div>
    <hr />
</div>
<br />
<!-- /.row -->
<div class="row" style="margin:15px 15px;">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Detalji pregleda
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Izvršena usluga</th>
                                <th>Uspostavljena dijagnoza</th>
                                <th>Terapija</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="padding:20px 20px 20px 20px;">
                                  
                                   
                                            <div class="form-group">
                                                Usluga:   @Html.TextBoxFor(m => m.NazivUsluge, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                            <div class="form-group">
                                                Cijena (KM):   @Html.TextBoxFor(m => m.CijenaUsluge, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                            <div class="form-group">
                                                Zub:   @Html.TextBoxFor(m => m.NazivZuba, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                 
                                </td>

                                <td style="padding:20px 20px 20px 20px;">
                                    
                                            <div class="form-group">
                                                Dijagnoza:    @Html.TextBoxFor(m => m.Dijagnoza, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                            <div class="form-group">
                                                Napomena:    @Html.TextAreaFor(m => m.Napomena, new { @class = "form-control", @readonly = "readonly", @row = "4" })
                                            </div>
                                    

                                </td>




                                <td style="padding:20px 20px 20px 20px;">
                                 
                                       
                                            <div class="form-group">
                                                Lijek: @Html.TextBoxFor(m => m.Lijek, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                            <div class="form-group">
                                                Količina: @Html.TextBoxFor(m => m.Kolicina, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                       
                                   
                                </td>
                            </tr>

                        </tbody>
                    </table>





                </div>


                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->



</div>
<script src="~/Scripts/bootstrap.min.js"></script>

