@using ZavršniRad.Areas.ModulStomatolog.Models
@model NoviPregledVM
@{
    ViewBag.Title = "UnesiPregled";
    Layout = "~/Areas/ModulStomatolog/Views/Shared/_StomatologLayout.cshtml";
}
<br />
<div class="row" style="margin-left:20px">

    @*@if (TempData["Uspjeh"] != null)
    {
        <p class="alert alert-info" id="successMessage" style="font-size:18px;margin-left:20px">@TempData["Uspjeh"]</p>
    }*@

    <div style="font-size:18px;color:royalblue;">
        <p>Datum pregleda:@Html.TextBoxFor(model => model.DatumPregleda, "{0:dd-MM-yyyy}", new { @class = "form-control",@readonly="readonly" })
</p>
        <p>Vrijeme pregleda:@Html.TextBoxFor(model => model.VrijemePregleda, "{0:HH:mm}", new { @class = "form-control",@readonly="readonly" })
  </p>
    </div>
    <hr />
</div>




@using (Html.BeginForm("SnimiPregled", "Pregled", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="row" style="margin:10px 10px">
        @if (!ViewData.ModelState.IsValid)
        {
            @Html.ValidationSummary(string.Empty, new { @class = "text-danger" });

        }

        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Dodaj pregled
                </div>
                <div class="panel-body">
                    <div class="row" style="padding:10px">
                        <div class="col-lg-10">
                            <form role="form">
                                <div class="form-group">
                                    <label>Zub</label>
                                    @Html.DropDownListFor(m => m.zubID, Model._Zub, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.zubID, string.Empty, new { @class = "text-danger" })




                               </div>
                                <div class="form-group">
                                    <label>Usluga</label>
                                    @Html.DropDownListFor(m => m.uslugaID, Model._Usluga, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.uslugaID, string.Empty, new { @class = "text-danger" })




                                </div>
                                <div class="form-group">
                                    <label>Cijena</label>
                                    @Html.TextBoxFor(m => m.Cijena, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Cijena, string.Empty, new { @class = "text-danger" })




                                </div>
                             
                                <div class="form-group">
                                  <label>Dijagnoza</label>  
                                      @Html.DropDownListFor(m => m.dijagnozaID, Model._Dijagnoza, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.dijagnozaID, string.Empty, new { @class = "text-danger" })


                                 </div>
                                <div class="form-group">
                                    <label>Intenzitet</label>
                                    @Html.DropDownListFor(m => m.Intenzitet, new List<SelectListItem>
                                {
                                new SelectListItem{ Text="1", Value = "1" },
                                new SelectListItem{ Text="2", Value = "2" },
                                new SelectListItem{ Text="3", Value = "3" },
                                new SelectListItem{ Text="4", Value = "4" },
                                new SelectListItem{ Text="5", Value = "5" }

                                }, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Intenzitet, string.Empty, new { @class = "text-danger" })


                                    @*@Html.TextBoxFor(m => m.Intenzitet, new { @class = "form-control" })*@
                                </div>
                                <div class="form-group">
                                    <label>  Napomena</label>
                                      @Html.TextAreaFor(m => m.Napomena, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Napomena, string.Empty, new { @class = "text-danger" })


                                </div>
                                <div class="form-group">
                                   <label>Lijek</label> 
                                      @Html.DropDownListFor(m => m.lijekID, Model._Lijek, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.lijekID, string.Empty, new { @class = "text-danger" })


                                </div>
                                <div class="form-group">
                                   <label>Količina</label> 
                                      @Html.TextBoxFor(m => m.Kolicina, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Kolicina, string.Empty, new { @class = "text-danger" })


                                 </div>
                                <div class="form-group">
                                 <label>Vrsta</label>   
                                      @Html.TextBoxFor(m => m.Vrsta, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Vrsta, string.Empty, new { @class = "text-danger" })


                                </div>


                                <button type="submit" class="btn btn-info">Snimi</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- /.col-lg-6 (nested) -->
}




