@using ZavršniRad.Areas.ModulOsoblje.Models;
@model ZavršniRad.Areas.ModulOsoblje.Models.UslugeUrediVM
@{
    ViewBag.Title = "Uredi";
    Layout = null;
}

@using (Ajax.BeginForm("Snimi", "Usluge", new AjaxOptions() { UpdateTargetId = "usluga" }))
{
    @Html.HiddenFor(model => model.Id);
    <div class="row" style="margin:10px 10px">
        @if (!ViewData.ModelState.IsValid)
        {
            @Html.ValidationSummary(string.Empty, new { @class = "text-danger" });

        }

        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Dodaj uslugu
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-10">
                            <form role="form">
                                <div class="form-group">
                                    <label>@Html.DisplayNameFor(m => m.Vrsta)</label>
                                    @Html.TextBoxFor(m => m.Vrsta, new { @class = "form-control" })
                                    @*<p class="help-block">Example block-level help text here.</p>*@
                                </div>
                                <div class="form-group">

                                    <label for="photo" class="control-label">@Html.DisplayNameFor(m => m.Slika)</label>
                                    <div class="form-group">
                                        <input type="file" name="photo" id="photo" class="btn btn-default" />

                                    </div>
                                </div>


                                    <button type="submit" class="btn btn-info">Snimi</button>
</form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- /.col-lg-6 (nested) -->
}

<script type="text/javascript">

    $(document).ready(function () {

        function loadDate(date) {
            alert(date);

        }

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah').attr('src', e.target.result);

                }
                $("#NewIdTest").text(input.files[0].name);
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#imgInp").change(function () {
            readURL(this);
        });


        function ChangeImg() {
            $("#imgInp").click();
        }



    })
</script>